<header>
  <h1>Recipe Book</h1>
  <nav>
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a routerLink="/">Home</a>
        <a routerLink="/by-ingredients">By Ingredients</a>
        <a routerLink="/by-area">By Area</a>
        <a routerLink="/by-category">By Category</a>
        <a routerLink="/favorites" *ngIf="isAuthenticated()">Favorites</a>
        <a routerLink="/data-sync">Data Sync</a>
        <a routerLink="/dashboard">Recipe Dashboard</a>
        <ng-container *ngIf="!isAuthenticated()">
          <a routerLink="/auth">Login/Signup</a>
        </ng-container>
        <button *ngIf="isAuthenticated()" (click)="onLogout()" class="logout-btn">
          <span class="logout-text">Logout</span>
          <span class="logout-icon">⇥</span>
        </button>
      </div>
    </div>
  </nav>
</header>