<app-header></app-header>
<main>
  <ng-container *ngIf="isHomeRoute()">
    <div class="main-content">
      <app-sidebar [class.hidden]="sidebarHidden()"></app-sidebar>
      <button (click)="toggleSidebar()" class="sidebar-toggle" [class.collapsed]="sidebarHidden()">
        <span class="toggle-icon">{{ sidebarHidden() ? '›' : '‹' }}</span>
      </button>
      <div class="recipe-card-container" [class.sidebar-hidden]="sidebarHidden()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isHomeRoute()">
    <div class="non-home-content">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</main>