<div class="favorites-container">
  <ng-container *ngIf="recipeDataService.hasStoredData(); else noData">
    <div class="content-wrapper" *ngIf="favoriteRecipes().length > 0; else noFavorites">
      <div class="favorites-list">
        <h2>My Favorite Recipes</h2>
        <div class="favorites-list-content">
          <div 
            *ngFor="let recipe of favoriteRecipes()" 
            class="favorite-item"
            [class.active]="recipe.id === selectedRecipeId()"
            (click)="selectRecipe(recipe)">
            <img [src]="recipe.image" [alt]="recipe.name">
            <span class="recipe-name">{{ recipe.name }}</span>
          </div>
        </div>
      </div>
      <div class="recipe-display">
        <app-recipe-card 
          *ngIf="selectedRecipeId()"
          [recipeId]="selectedRecipeId()"
          [showNavigation]="false">
        </app-recipe-card>
      </div>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="message-container">
      <div class="message-content">
        <h2>No Recipes Available</h2>
        <p>Please visit the <a routerLink="/data-sync">Data Sync</a> page to download recipes.</p>
      </div>
    </div>
  </ng-template>

  <ng-template #noFavorites>
    <div class="message-container">
      <div class="message-content">
        <h2>No Favorite Recipes</h2>
        <p>Visit the <a routerLink="/home">Home</a> page to add some recipes to your favorites!</p>
      </div>
    </div>
  </ng-template>
</div>
